#intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vh;
}

#intro p {
    margin: 2vh 0;
}
#intro div {
    align-self: flex-start;
    justify-self: right;
    margin-left: 5vw
}
#intro ol{
    align-self: flex-start;
    justify-self: left;
    font-size: 1.25em;
}

#intro h1{
    padding-top: 5%;
    font-size: 4em;
    grid-column: 1 / span 2;
    text-align: center;
    max-width: 1500px;
    margin: 5vh 5vw 0;
}
#intro h3{
    margin-bottom: 1vh;
}

@media screen and (max-width: 741px){

    #intro{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5vh;
        margin: 10vh 0;
    }
    #intro h1{
        padding-top: 0;
        font-size: 3em;
        grid-column: 1 / span 1;
        text-align: center;
        max-width: 1500px;
        margin: 5vh 5vw 0;
    }

    #intro ol{
        align-self: flex-start;
        margin: 0 auto;
        justify-self: left;
    }
    #intro div {
        align-self: flex-start;
        margin: 0 auto;
        text-align: center;
    }
    #intro p {
        margin: 5vh 10vw;
    }
    
}
