body{
  background-color: #282c34;
  color: ghostwhite;
}

.pure-table caption{
  color: ghostwhite;
  font-size: large;
}

.pure-table {
  display:block;
  width: 100vw;
  overflow: scroll;
}

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: black;
}
