#root{
        max-width: 1500px;
        margin: 5vh 5vw 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
        "search player-list player-list player-list"
        "checkboxes player-list player-list player-list"
        ". player-list player-list player-list"
        "szn-stats szn-stats szn-stats szn-stats"
        " . dates player-radio  ."
        "recent-stats recent-stats recent-stats recent-stats"
        "stats-chart stats-chart stats-chart stats-chart";
}
#legend-container{
    margin: 5vh auto 0;
}
@media screen and (min-width: 741px){

    #date-picker{
        justify-self: center;
    }
    #player-radio{
        justify-self: left;
    }
}

@media screen and (max-width: 641px){
    #root{
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "search"
        "checkboxes"
        "player-list"
        "szn-stats"
        "dates"
        "player-radio"
        "recent-stats"
        "stats-chart";
    }
}
#search-form{
    grid-area: search;
}
#checkbox-form{
    grid-area: checkboxes;
}
#player-list{
    grid-area: player-list;
    margin-top: 1vh;
}
#player-radio{
    grid-area: player-radio;
}
#szn-stats-table{
    grid-area: szn-stats;
    margin: 5vh 0;
}
#date-picker{
    grid-area: dates;
    text-align: center;
}
#recent-stats-table{
    grid-area: recent-stats;
}
#chart{
    grid-area: stats-chart;
}
